%article.video
  .container
    .row
      .video_large_cover.col-md-7.col-md-offset-1
        %img(class="large-cover" src="#{@video.large_cover}")
      .video_info.col-md-3
        %header
          %h3= @video.title
        %p= @video.description
        .actions
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn'

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, Review.new] do |f|
        %fieldset
          %label Rate this video
          = f.select :rating, options_for_video_reviews
          %label Write Review
          = f.text_area :content, rows: 6, class: "col-md-6"
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by <a href="">#{review.user.username}</a>
              .col-sm-8
                %p= review.content